html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: var(--color-background-layout-main-y4565g, #ffffff);
  color: var(--color-text-body-default-b2us04, #0f141a);
  font-family: "Open Sans", "Helvetica Neue", Roboto, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
}
